.com-account-card {
  display: inline-flex;
  min-width: 200px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(50 57 68);
  padding: 20px 30px;
  box-shadow: 0 0 5px 1px #716f6f75;
}

.com-account-card img {
  width: 120px;
  height: 120px;
  border-radius: 6px;
}

.com-account-card .com-account-card-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.com-account-card .com-account-card-info .com-account-card-info-name {
  margin: 16px 0;
  font-size: 20px;
  color: rgb(125, 211, 252);
}

.com-account-card .com-account-card-info .com-account-card-info-qq {
  font-size: 18px;
  color: rgb(229, 231, 235);
}
