.App {
  background-color: #282c34;
  height: 100vh;
  padding: 0 50px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  color: rgba(255, 255, 255, 0.8);
  height: 140px;
  font-size: 30px;
}

.App-link {
  color: #61dafb;
}

.result-section {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
  min-height: 200px;
}
